body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-bottom: 200px;
  overflow: auto;
  background-image: url('./static/bg.png');
  background-size: cover;
  background-position: center center;
}

.font20px{
  font-size: 18px !important;
}

.alignMiddle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}